		* { -webkit-hyphens: none; }
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.social-icons-header {
	text-align: center;
	padding: 20px;
	.fa {
		padding: 10px;
		font-size: 18pt;
	}
	@media screen and (min-width: $tabwidth) {
		padding: 170px 20px 20px 5px;
		float: right;
		.fa {
		padding: 8px;
		}
	}
	@media screen and (min-width: $deskwidth) {
	}
}
header.site-header {
	padding-bottom: 20px;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 90%;
		padding-top: 20px;
	}
	@media screen and (min-width: $deskwidth) {
		padding-top: 20px;
	}
}
.content-area-full {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
.content-area {
	width: 100%;
	margin: 0px auto;
	background-color: lightgrey;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
		margin: 0px auto;
		padding: 40px 50px;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 300px;
	height: 200px;
	background-image: url(images/logo.png);	
	margin: 10px auto;
	background-size: contain;
	background-position: 50% 0;
	background-repeat: no-repeat;
	flex: 0 1 auto;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
		float: left;
		margin: 0;
		padding: 20px;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 300px;
	height: 200px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
#masthead {
	&>.wrapper {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		align-content: stretch;
		align-items: flex-end;
		justify-content: space-between;
		}
	}
}
.testimonials {
	padding: 20px;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
	padding: 50px;
	}
	.line5 {
		p {
		padding: 10px;
		margin: 0;
		}
		.spacer2 {
		width: 10%;
		border-bottom: 1px solid #000;
		margin: 0 auto;
		}
	}
}
.testimonial-button {
	a {
    	text-decoration: none;
    	color: white;
    	color: white;
		background-color: #339966;
		width: 200px;
		text-align: center;
	    display: block;
	    margin: 0 auto;
	    padding: 20px;
    }
    a:hover {
    	color: black;
    }
}