.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	//margin: 1.5em 0 0;
}
.clear {
	clear: both;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.banner {
	width: 100%;
	position: relative;
	img {
		width: 100%;
	}
	.banner-text {
		
		color: #000;
		font-size: 20px;
		width: 100%;
		float: left;
		text-align: left;
		padding: 20px;
		@media screen and (min-width: $tabwidth) {
			
		}
		@media screen and (min-width: $deskwidth) {
			//width: 80%;
			position: absolute;
			bottom: 20%;
			left: 20%;
			color: #000;
			font-weight: bold;
			background-color: rgba(255,255,255, 0.3);
			padding: 15px 30px;
			float: none;
			width: 46%;
			left: 55%;
		}

		h2 {
			font-size: 25px;
			@media screen and (min-width: $tabwidth) {
			font-size: 40px;
			}
		}
	
	}
}

.row2 {
	display: flex;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
	flex-direction: column;
	padding: 20px;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		flex-direction: row;
		justify-content: space-between;
	}
}
.tab {
	flex: 0 1 auto;
	width: 100%;
	margin-top: 15px;
	margin-right: 2%;
	background-color: lightgrey;
	text-color: #000;
	padding: 15px;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		width: 1/4*94%;
		margin-top: 0;
	}

	h2 {
		text-align: center;
	}
	&:last-child {
		margin-right: 0;
	}
}

.row3 {
	background-color: lightgrey;
	padding: 0px;
	margin: 0px;
	@media screen and (min-width: $tabwidth) {
			padding: 10px;
		}
	@media screen and (min-width: $deskwidth) {
		padding: 80px;
	}
}
.section1 {
	padding: 0px;
	margin: 0px;
	background-color: #E0E0E0;
	@media screen and (min-width: $tabwidth) {
			padding: 20px;
		}
	@media screen and (min-width: $deskwidth) {
	}
}
.section2 {
	padding: 0px;
	margin: 0px;
	background-color: #E0E0E0;
	@media screen and (min-width: $tabwidth) {
			padding: 20px;
		}
	@media screen and (min-width: $deskwidth) {
	}
}

.line1 {
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	width: 30%;
	@media screen and (min-width: $deskwidth) {
		width: 100%;
	}
	.spacer{
		width: 10%;
		border-bottom: 1px solid #000;
		margin: 0 auto;
	}
}

.line2 {
	display: flex;
	justify-content: left;
	align-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	background-color: lightgrey;

	@media screen and (min-width: $deskwidth) {
		justify-content: center;
		align-content: stretch;
		align-items: stretch;
		flex-direction: row;
		padding: 25px;
	}
	h3 {
	color: #000;
	background-color: #E0E0E0;
	padding: 10px;
	text-align: center;
		@media screen and (min-width: $tabwidth) {
			padding: 20px;
		}
		@media screen and (min-width: $deskwidth) {
	
		}
	}
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #F8F8F8;
	width: 100%;
	text-align: center;
	padding: 0px;
		@media screen and (min-width: $tabwidth) {
			padding: 10px;
		}
	    @media screen and (min-width: $deskwidth) {
	    	
	    }

	th {
    	border-bottom: 3px solid lightgrey;
    	padding: 5px;
    	@media screen and (min-width: $tabwidth) {
			
		}
	    @media screen and (min-width: $deskwidth) {
	    	padding: 10px
	    }
	}
	td {
    	padding: 5px;
    	@media screen and (min-width: $tabwidth) {
			
		}
	    @media screen and (min-width: $deskwidth) {
	    	padding: 10px 35px;
	    }
	}
}

.faqrow {
	width: auto;
	overflow: hidden;
	margin: 0 0 20px 0;	
	background-color: rgba(255,255,255,.05);
	border-radius: 10px;
}
.question {
	width: auto;
	float: center;
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-size: 10px;
	cursor: pointer;	
	line-height: 1.3;
	position: relative;
	padding: 20px ;
	text-transform: uppercase;
	background-color: rgba(255,255,255, 0.3);
	@media screen and (min-width: $deskwidth) {
		font-size: 20px;
	}
	span {
		display: block;
		width: calc(100% - 70px);
	}
}
.question-image {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 30px;
	top: 10px;
	background-image: url(images/faq.png);
	background-repeat: no-repeat;
	background-position: 0 0;	
}
.close {
	.question-image {
		background-image: url(images/faq2.png);
	}
}
.answer {
	width: auto;
	float: center;
	margin: 0 auto;
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	line-height: 1.3;
	padding: 20px;
	display: none;
	background-color: rgba(255,255,255, 0.9);
}

.item {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    display: inline-block;
    margin: 10px;
    width: 30%;
    align-items: center;
    p {
    	border-bottom: solid #000;
    	padding-bottom: 20px;
    	border-width: 0.5px;
    }
    h2 {
    	color: #339966;
    	font-size: 10pt;
    	font-style: italic;
    }
}